// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sale-table {
  width: 80%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%;
}

#table-title {
  font-size:32px;
  text-align: center;
  margin-top:3%;
  margin-bottom:3%;
}

.sale-info {
  font-size:12px;
}

.card-content {
  color:black;
}

#new-sale-btn {
  width:200px;
  margin-top: -30%;
}