// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert {
  text-align: center;
  padding: 5px;
  color:white;
}

.alert-math {
  background:orange;
}

.alert-notice {
  background:green;
}

.alert-error {
  background:red;
}